<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Escanear Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>


  <div class="contenedor">

    <ion-button (click)="scan()" color="tertiary" class="boton" style="width: 80%;height: 50%;" shape="round">
      <!-- <ion-icon name="scan" size="xlarge"></ion-icon> -->
      <img src="assets/scan.png" alt="scan">
    </ion-button>
  </div>

</ion-content>