<ion-header [translucent]="true">
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-title>
      <br>
      <h1 class="text">Alejandro Heidenreich</h1>
    </ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <img src="assets/icon.png" alt="logo" class="logo" style="top: 15rem;">
  <ion-grid>
    <ion-row class="ion-justify-content-around text-center">
      <ion-col size="10">
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-justify-content-around text-center">
      <ion-col size="12" style="top: 25em;left: 3.8rem;">
        <h1 class="text">División A</h1>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row class="ion-justify-content-around text-center">
      <ion-col style="top: 25em;left: 5.8rem;">
        <h1 class="text">Alejandro Heidenreich</h1>
      </ion-col>
    </ion-row> -->
  </ion-grid>



</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-title>
      <br>
      <h1 class="text">División A</h1>
    </ion-title>
    <br>
  </ion-toolbar>
</ion-footer>