a {
    color: black;
}


.list-md {
    background-color: var(--ion-color-secondary);
}


.selected {
    --background: var(--ion-color-success);
}

.notselected {
    --background: var(--ion-color-secondary);
}

form {
    background-image: 'assets/icon.png';
}