<ion-content [fullscreen]="true" class="text-center">

  <form [formGroup]="form" class="login" (ngSubmit)="onSubmit()">
    <ion-card color="secondary" class="ion-text-center">



      @if(!register){
      <br>
      }
      <ion-card-content>
        <ion-list>
          Correo
          <ion-item color="tertiary">
            <ion-input type="email" placeholder="Ingrese su correo" formControlName="email"></ion-input>
          </ion-item>
          <br>
          Contraseña
          <ion-item color="tertiary">
            <ion-input type="password" placeholder="Ingrese su contraseña" formControlName="password"></ion-input>
          </ion-item>
          @if(register){
          <br>
          Repetir contraseña
          <ion-item color="tertiary">
            <ion-input type="password" placeholder="Reingrese la contraseña" formControlName="password2"></ion-input>
          </ion-item>

          }
        </ion-list>




      </ion-card-content>
      @if(!register){
      <br>
      }
      <ion-card-subtitle>
        @if(register){
        Ya tienes cuenta?<a id="mode" (click)="changeMode()" class="text-bold"> Ingresar</a>
        }
        @else{
        Aún no tienes cuenta?<a id="mode" (click)="changeMode()" class="text-bold"> Registrarse</a>
        }
      </ion-card-subtitle>
      @if(!register){
      <br>

      }
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button type="submit" color="tertiary" size="large" expand="full" shape="round">
              <div>
                <img src="assets/icon.png" alt="logo">
              </div>
              <!-- <ion-icon name="log-in" size="large"></ion-icon>
                @if(register){
                REGISTRAR
                }
                @else{
                INGRESAR
                } -->
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      @if(!register){
      <br>
      }


      <ion-card-header class="ion-text-center" color="tertiary">


        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="3">
              <ion-button (click)="logAccount1()" [ngClass]="selected === 1 ? 'selected' : 'notselected'" size="large"
                shape="round">
                <ion-icon name="person" color="primary"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="logAccount2()" [ngClass]="selected === 2 ? 'selected' : 'notselected'" size="large"
                shape="round">
                <ion-icon name="person" color="primary"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="logAccount3()" [ngClass]="selected === 3 ? 'selected' : 'notselected'" size="large"
                shape="round">
                <ion-icon name="key" color="primary"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        Acceso Rápido
        <br>
      </ion-card-header>
    </ion-card>


    <ion-loading trigger="mode" message="Loading..." [duration]="3000" spinner="circles"></ion-loading>

  </form>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-title>

      @if(register){
      REGISTRAR USUARIO
      }
      @else{
      INGRESAR USUARIO
      }
    </ion-title>

  </ion-toolbar>
</ion-footer>